*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left,rgb(235, 231, 231), #F1f1f1);
    background-image: url('Img/circuit-board.svg');
    font-size: 16px;
    font-family: 'Roboto';
}
.container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 2px solid ;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.container .wellcome h1{
    font-size: 3rem;
    color: rgb(46, 75, 236);
    font-weight: bold;

}
.container .wellcome p{
    font-size: 1.5rem;
    color: rgb(46, 75, 236);
    font-weight: bold;

}
.container img{
    width: 280px;
}
.celda{
    display: flex;
    justify-content: center;
    align-items: center;
}